<!DOCTYPE html>
<html lang="en" data-theme="dark">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Payment</title>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/minstyle.io@2.0.1/dist/css/minstyle.io.min.css">
  <link rel="stylesheet" type="text/css" href="../css/style.css">
  <link rel="icon" type="img/washify2.png" href="img/icon.png">
</head>
<body>
  <div class="container">
    <div class="content">
      <div class="title-container">
        <h2 class="title2">Successful Payment!</h2>
      </div>
      <button id="backButton" style="color: white; border: none; padding: 10px 20px;">
        Back to Home
      </button>
      <div id="content" class="hide">
          <div class="ms-card-content">
            <img src="img/washify2.png" alt="Washify">
          </div>
      </div>
    </div>
  </div>

  <!-- Add the Stripe JavaScript library -->
  <script src="https://js.stripe.com/v3/"></script>
  <script>
    document.getElementById('backButton').addEventListener('click', function() {
      window.close();
    });
  </script>
</body>
</html>
